<h1>Image Forms</h1>

<%= link_to 'New Image Form', new_image_form_path, class: 'btn btn-primary' %>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @image_forms.each do |image_form| %>
      <tr>
        <td><%= image_form.title %></td>
        <td><%= image_form.description %></td>
        <td>
          <%= link_to 'Show', image_form_path(image_form), class: 'btn btn-info' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
